<link rel="stylesheet" href="{{'fs-footer.css' | asset_url }}">

<!-- footer -->
<footer class="footer">
     <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="footer-content">
                {% comment %} <h2 class="footer-heading">Company</h2> {% endcomment %}
                <a href="#">
                    <img src="{{'logo.png' | asset_img_url: 'master' }}" class="footer-logo">
                </a>
            </div>
        </div>
        <div class="col-sm-6 mt-sm-0 mt-5 footer-follow d-flex justify-content-end">
            <div class="footer-content">
                {%- if section.settings.social -%}
                <h3 class="footer-heading">Follow Us</h3>
                <ul class="social-list">
                    <li class="social-icons-item"><a href="https://www.linkedin.com/company/luna-one/" target="_blank" class="social-link"><i
                                class="fa-brands fa-linkedin-in footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="https://web.facebook.com/LunaOneOfficial/" target="_blank" class="social-link"><i
                                class="fa-brands fa-facebook-f footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="https://twitter.com/OfficialLunaOne" target="_blank" class="social-link"><i
                                class="fa-brands fa-twitter footer-icons"></i></a></li>
                    {% comment %} <li class="social-icons-item"><a href="#" class="social-link"><i
                                class="fa-brands fa-instagram footer-icons"></i></a></li> {% endcomment %}
                    <li class="social-icons-item"><a href="http://discord.gg/lunaone" target="_blank" class="social-link"><i
                                class="fa-brands fa-discord footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="https://youtube.com/@lunaone2638" target="_blank" class="social-link"><i
                                class="fa-brands fa-youtube footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="https://medium.com/@LunaOne" target="_blank" class="social-link"><i
                                class="fa-brands fa-medium footer-icons"></i></a></li>
                </ul>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
</footer>


{% schema %}
    {
        "name": "FS Footer",
        "settings": [
            {
                "type": "image_picker",
                "id": "f-image",
                "label": "Logo"
            },
            {
                "type": "checkbox",
                "id": "social",
                "label": "Show Social Links",
                "default": true
            }

        ]
    }
{% endschema %}