<link rel="stylesheet" href="{{'fs-footer.css' | asset_url }}">

<!-- footer -->
<footer class="footer">
     <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="footer-content">
                <h2 class="footer-heading">Company</h2>
                <a href="#">
                    <img src="{{'logo.png' | asset_img_url: 'master' }}" class="footer-logo">
                </a>
            </div>
        </div>
        <div class="col-sm-6 mt-sm-0 mt-5 footer-follow d-flex justify-content-end">
            <div class="footer-content">
                <h3 class="footer-heading">Follow Us</h3>
                <ul class="social-list">
                    <li class="social-icons-item"><a href="#" class="social-link"><i
                                class="fa-brands fa-linkedin-in footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="#" class="social-link"><i
                                class="fa-brands fa-facebook-f footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="#" class="social-link"><i
                                class="fa-brands fa-twitter footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="#" class="social-link"><i
                                class="fa-brands fa-instagram footer-icons"></i></a></li>
                    <li class="social-icons-item"><a href="#" class="social-link"><i
                                    class="fa-brands fa-discord footer-icons"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>

