:root {
    --primary: #7D3AD3;
    --black: #000000;
    --white: #ffffff;
    --yellow: #ffc528;
    --whitegrey: #e5d1ff;
    --blue: #608BF9;
    --orange: #FF8328;
    --gray: #868686;
    --purple: #211e43;
    --darkblack: #ffffff80;
}

.footer {
    margin-top: 100px;
    padding-bottom: 70px;
}

.footer .footer-content .footer-heading {
    font-size: 30px;
    color: var(--whitegrey);
    font-family: "Barlow--Normal-Bold";
    margin-bottom: 30px !important;
    position: relative;
}

.footer .footer-content .footer-heading::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 70px;
    background-color: var(--yellow);
    left: 0;
    bottom: -10px;
}

.footer .footer-content .footer-about-company {
    font-size: 18px;
    color: var(--whitegrey);
    margin-bottom: 30px !important;
    padding-right: 100px;
    margin-top: 15px;
}

.footer .footer-content .footer-detail {
    color: var(--whitegrey);
}

.footer .footer-content .footer-detail .contact-gmail {
    color: var(--whitegrey);
    margin-right: 15px;
}

.footer .footer-content .footer-detail .contact-phone {
    color: var(--whitegrey);
    margin-right: 15px;
    margin-top: 10px;
}

.footer .footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer .footer-list .footer-item .footer-link {
    font-size: 18px;
    text-decoration: none;
    color: var(--whitegrey);
}

.footer .social-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    gap: 10px;
}

.footer .social-list .social-icons-items {
    display: flex;
}

.footer .social-list .social-icons-item .social-link {
    font-size: 17px;
    color: var(--purple);
    background-color: var(--whitegrey);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    text-decoration: none;
    transition: .5s;
}

.footer .social-list .social-icons-item .social-link:hover {
    background-color: var(--purple);
    color: var(--whitegrey);
}
.banner-shop-btn, .banner-shop-btn:hover {
    background: transparent;
    border: 1px solid var(--yellow);
    font-size: 26px;
    padding: 5px 30px;
    color: var(--yellow);
    text-transform: uppercase;
    font-family: "Barlow-Bold";
    border-radius: 13px;
}
@media screen and (max-width: 575.98px) {
    .footer .footer-content .footer-heading {
        margin-bottom: 20px;
    }

    .footer .footer-content .footer-logo {
        width: 250px;
    }

    .footer .footer-follow {
        justify-content: flex-start !important;
    }
    .banner-shop-btn {
        font-size: 16px;
        padding: 3px 18px;
    }
}