.carousel .carousel-inner .carousel-caption {
    left: 50% !important;
    right: 0;
    transform: translate(-50%);
}

.carousel .carousel-inner .carousel-caption .banner-title {
    font-size: 51px;
    text-transform: uppercase;
    font-family: "Barlow-Normal";
}

.carousel .carousel-inner .carousel-caption .banner-title span {
    font-family: "Barlow-Bold";
    color: var(--yellow);
}

.carousel .carousel-inner .carousel-caption .banner-shop-btn {
    background: transparent;
    border: 1px solid var(--yellow);
    font-size: 26px;
    padding: 5px 30px;
    color: var(--yellow);
    text-transform: uppercase;
    font-family: "Barlow-Bold";
    border-radius: 13px;
}

.carousel .carousel-inner .carousel-item .banner-main-text {
    position: absolute;
    left: 112px;
    top: 0px;
    left: 120px;
    font-family: "Akira-Expanded";
    text-transform: uppercase;
    line-height: 60px;
}

.carousel .carousel-inner .carousel-item .banner-main-text .banner-prepare-heading {
    font-size: 77px;
    color: var(--whitegrey);
    line-height: 70px;
    margin-bottom: 0;
    font-family: "Akira-Expanded";
}

.carousel .carousel-inner .carousel-item .banner-main-text .banner-fleet-heading {
    font-size: 127px;
    color: var(--yellow);
    line-height: 117px;
    margin-bottom: 0;
    font-family: "Akira-Expanded";
}

@media screen and (min-width: 1200px) {
    .carousel::after {
        -webkit-animation: off-on 5s infinite linear;
        animation: off-on 5s infinite linear;
        background: url(../images/banner-shape-1.png) no-repeat top left;
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: -168px;
        width: 100%;
        z-index: -1;
    }
}

@media screen and (max-width: 991.98px) {
    .carousel .carousel-inner .carousel-item .banner-main-text {
        left: 88px;
        top: 36px;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text .banner-prepare-heading {
        font-size: 53px;
        line-height: 52px;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text .banner-fleet-heading {
        font-size: 77px;
        line-height: 77px;
    }
}

@media screen and (max-width: 767.98px) {
    .carousel .carousel-inner .carousel-item {
        height: auto;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text {
        left: 70px;
        top: 12px;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text .banner-prepare-heading {
        font-size: 45px;
        line-height: 45px;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text .banner-fleet-heading {
        font-size: 50px;
        line-height: 50px;
    }
    .carousel .carousel-inner .carousel-caption .banner-title {
        font-size: 19px;
    }

    .carousel .carousel-inner .carousel-caption .banner-shop-btn {
        font-size: 16px;
        padding: 3px 18px;
    }
    .carousel-caption {
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width: 575.98px) {
    .carousel .carousel-inner .carousel-item .banner-main-text {
        left: 0;
        top: 12px;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text .banner-prepare-heading {
        font-size: 28px;
        line-height: 28px;
    }

    .carousel .carousel-inner .carousel-item .banner-main-text .banner-fleet-heading {
        font-size: 38px;
        line-height: 38px;
    }
}

@keyframes off-on {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
