
.product-detail-section .pdp-detail-content {
    padding-left: 80px;
}

.product-detail-section .pdp-detail-content .pdp-title, .product__title h1 {
    font-size: 36px;
    color: var(--whitegrey);
    font-family: "Barlow--Normal-Bold";
}

.product-detail-section .pdp-detail-content .pdp-deluxe-btn {
    color: var(--whitegrey);
    background-color: var(--primary);
    font-size: 18px;
    padding: 0px 13px;
    line-height: 20px;
    border-radius: 30px;
    font-family: "Anodina";
}

.product-detail-section .pdp-detail-content .pdp-tier, .product-form__input .form__label {
    font-size: 24px;
    font-family: "Anodina";
    color: var(--whitegrey);
    font-weight: 400;
    margin-top: 5px;
}

.product-detail-section .pdp-detail-content .category {
    font-size: 24px;
    font-weight: 400;
    color: var(--whitegrey);
    font-family: "Anodina";
    margin-top: 5px;
}

.product-detail-section .pdp-detail-content .pdp-about-text {
    font-size: 24px;
    font-weight: 400;
    color: var(--whitegrey);
    font-family: "Anodina";
    margin-top: 5px;
}

.pdp-detail-content .choose-color-dropdown .color-text {
    font-size: 24px;
    font-weight: 400;
    color: var(--whitegrey);
    font-family: "Anodina";
    margin-top: 5px;
}

.product-detail-section .pdp-detail-content .pdp-product-price-content {
    margin-top: 180px;
}

.product-detail-section .pdp-detail-content .pdp-product-price-content .pdp-product-price, .price .price-item {
    font-size: 40px;
    font-weight: 600;
    font-family: "Barlow-Medium-Bold";
    color: var(--whitegrey);
}

.product-detail-section .pdp-detail-content .pdp-product-price-content .pdp-product-before-price, .product__info-container .price--on-sale .price-item--regular {
    font-size: 30px;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--whitegrey);
    opacity: 0.5;
}

.product-detail-section .pdp-detail-content .pdp-add-to-cart {
    max-width: 380px;
    margin-top: 45px;
}

.product-detail-section .pdp-detail-content .pdp-add-to-cart .pdp-add-to-cart-btn, .product-form__submit {
    width: 100%;
    background-color: var(--yellow);
    height: 63px;
    color: var(--purple);
    font-size: 31px;
    font-family: "Anodina";
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
}

.pdp-detail-content .pdp-category-text {
    font-size: 24px;
    font-weight: 400;
    color: var(--whitegrey);
    font-family: "Anodina";
    margin-top: 5px;
}

.choose-color-dropdown {
    display: flex;
    align-items: center;
    gap: 20px;
}

.select_wrap {
    width: 150px;
    position: relative;
    user-select: none;
    margin-top: 7px;
}

.select_wrap .default_option {
    background: transparent;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--whitegrey);
    padding-left: 0;
    list-style-type: none;
    border: 1px solid var(--whitegrey);
    border-radius: 30px;
}

.select_wrap .default_option .option>p {
    font-size: 20px;
    color: var(--whitegrey);
    font-family: "Anodina";
}

.select_wrap .default_option:before {
    content: '\f0dd';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}

.select_wrap .select_ul {
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    background: #695d5d;
    border-radius: 5px;
    display: none;
}

.select_wrap .select_ul li {
    padding: 2px 0px;
    cursor: pointer;
    color: white;
}

.select_wrap .select_ul .option>p {
    font-size: 20px;
    color: var(--whitegrey);
    font-family: "Anodina";
}

.select_wrap .option {
    display: flex;
    align-items: center;
}

.select_wrap .option .icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-left: 7px;
    background: var(--white);
    border-radius: 50%;
}

.select_wrap .option.white .icon {
    background-position: 0 0;
    background: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.select_wrap .option.black .icon {
    background-position: 0 -35px;
    background: var(--black);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.select_wrap .option.blue .icon {
    background-position: 0 -72px;
    background: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.select_wrap .option.orange .icon {
    background-position: 0 -72px;
    background: orange;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.select_wrap.active .select_ul {
    display: block;
    padding-left: 0;
    list-style-type: none;
}

@media screen and (max-width: 991.98px) {
    .product-detail-section .pdp-detail-content {
        padding-left: 40px;
    }
}

@media screen and (max-width: 991.98px) {
    .product-detail-section .pdp-detail-content {
        padding-left: 0px;
    }

    .product-detail-section .pdp-detail-content .pdp-title {
        font-size: 29px;
        margin-top: 20px;
    }

    .product-detail-section .pdp-detail-content .pdp-product-price-content {
        margin-top: 50px;
    }
}

@media screen and (max-width: 575.98px) {
    .product-detail-section .pdp-detail-content .pdp-title {
        font-size: 25px;
    }

    .product-detail-section .pdp-detail-content .pdp-tier {
        font-size: 22px;
    }

    .product-detail-section .pdp-detail-content .category {
        font-size: 22px;
    }

    .product-detail-section .pdp-detail-content .pdp-about-text {
        font-size: 22px;
    }

    .product-detail-section .pdp-detail-content .pdp-product-price-content .pdp-product-price {
        font-size: 34px;
    }

    .product-detail-section .pdp-detail-content .pdp-product-price-content .pdp-product-before-price {
        font-size: 26px;
    }

    .product-detail-section .pdp-detail-content .pdp-add-to-cart .pdp-add-to-cart-btn {
        font-size: 25px;
    }
}


.vool {
    width: 15px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}